
.input {
    transition-duration: 300ms;
    width: 150px;
    outline: none;
    border: 1px solid transparent;
    background-color: #ffffff5e;
    padding: 2px 5px;
    border-radius: 5px;
    font-weight: 200;
}

.input:hover {
    border-color: rgba(0, 0, 0, 0.582);
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 200;
    width: 100%;
}