.wrap {
    display: flex;
    padding: 30px 40px;
    justify-content: space-between;
    
}

.input {
    transition-duration: 300ms;
    width: 89%;
    outline: none;
    border: 1px solid transparent;
    background-color: #ffffff5e;
    padding: 2px 5px;
    border-radius: 5px;
    font-weight: 200;
}

.input:hover {
    border-color: rgba(0, 0, 0, 0.582);
}

.form {
display: flex;
flex-direction: column;
justify-content: flex-start;
width: 40%;
gap: 10px;
}

.label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 200;
        width: 100%;
}

.addBtn {
    cursor: pointer;
    transition-duration: 300ms;
    display: block;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.582);
}
.addBtn:hover {
border-radius: 10px;
background-color: rgb(51, 51, 51);
color: white;
}