.container {
   display: flex;
   gap: 15px;
   flex-direction: column;
   align-items: center;
   border-radius: 10px;
   margin-left: auto;
   margin-right: auto;
   padding: 0px 20px;
   position: relative;
}

.contactsList {
    font-size: 22px;
    font-weight: 400;
    color: rgb(51, 51, 51);
    margin-right: auto;
}